/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://use.typekit.net/axn6ftm.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

main {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 21px;
  min-width: 320px;
}

h1 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 1em;
}

@media screen and (min-width: 1205px) {
  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 1em;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 65px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 21px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
}

p {
  font-size: 21px;
  line-height: 1.5em;
}

.orangeh1 {
  color: #ff450b;
}

h6 {
  font-family: "input-mono-narrow", monospace;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.textColumn {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (min-width: 1025px) {
  .textColumn {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .textColumn {
    padding: 0 5em 0 5em;
  }
}

@media screen and (max-width: 480px) {
  .textColumn {
    padding: 0;
  }
}

.splashLayout {
  position: relative;
}

.splashText h1 {
  margin: 0 0 0.3em 0;
}

.splashText {
  width: 45%;
  padding: 6em 0 3em 0;
}

@media screen and (min-width: 1025px) {
  .splashText {
    width: 45%;
    padding: 6em 0 3em 0;
  }
}

@media screen and (max-width: 1024px) {
  .splashText {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .splashText {
    width: 100%;
    padding: 7em 1em 0 1em;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .splashText {
    max-width: 100%;
    width: 100%;
    padding: 5em 1em 0 1em;
    text-align: center;
  }
}

.mascot {
  width: 95%;
  position: absolute;
  bottom: -40%;
  right: -40%;
}

@media screen and (max-width: 1024px) {
  .mascot {
    width: 55%;
    bottom: -20%;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  .mascot {
    margin: auto;
    padding: 0;
    width: 100px;
    bottom: 65%;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .mascot {
    margin: auto;
    padding: 0;
    width: 18%;
    bottom: 65%;
    left: 0;
  }
}

.clouds {
  background-image: url("/img/clouds.svg");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 100%;
}

.npmSection {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .npmSection {
    position: relative;
  }
}

.brickBackground {
  background-image: url("/img/brick-wall.svg");
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: 185%;
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 500px;
}

@media screen and (max-width: 768px) {
  .brickBackground {
    background-position: center 40px;
    background-size: 300%;
  }
}

@media screen and (max-width: 480px) {
  .brickBackground {
    background-position: center 25px;
    background-size: 300%;
  }
}

.npmContainer {
  margin: auto;
  font-family: "input-mono-narrow", monospace;
  font-size: 18px;
  width: 30%;
}

@media screen and (max-width: 768px) {
  .npmContainer {
    position: absolute;
    width: 70%;
    padding: 4em 1em 0 1em;
    font-size: 18px;
    bottom: 11em;
    right: 0;
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .npmContainer {
    position: absolute;
    width: 100%;
    padding: 4em 1em 0 1em;
    font-size: 14px;
    bottom: 25em;
  }
}

/* 480px, 768px, 1024px, 1200px */
