/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://use.typekit.net/axn6ftm.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

main {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 21px;
  min-width: 320px;
}

.splash {
  height: 100%;
}

h1 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 1em;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 480px) {
  h1 {
    font-size: 55px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 65px;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 65px;
  }
}

h2 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
}

@media screen and (min-width: 320px) {
  h2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) {
  h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 21px;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 21px;
  }
}

p {
  font-size: 21px;
  line-height: 1.5em;
}

.orangeh1 {
  color: #ff450b;
}

h6 {
  font-family: "input-mono-narrow", monospace;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.textColumn {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  .textColumn {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .textColumn {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1200px) {
  .textColumn {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

.splashLayout {
  position: relative;
}

@media screen and (min-width: 320px) {
  .splashLayout {
    margin: 5em 0 0 0;
  }
}

@media screen and (min-width: 480px) {
  .splashLayout {
    margin: 10em 1em 0 1em;
  }
}

@media screen and (min-width: 768px) {
  .splashLayout {
    margin: 8em 0 0 0;
    padding: 0 2em;
  }
}

@media screen and (min-width: 1024px) {
  .splashLayout {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .splashLayout {
    margin: 0 auto;
    padding: inherit;
    width: 100%;
  }
}

.splashText h1 {
  margin: 0 0 0.3em 0;
}

.splashText {
  width: 45%;
  padding: 6em 0 3em 0;
}

@media screen and (min-width: 320px) {
  .splashText {
    width: 100%;
    padding: 0 1em 0 1em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .splashText {
    width: 50%;
    padding: 6em 0 3em 0;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .splashText {
    width: 50%;
    padding: 6em 0 3em 0;
    text-align: left;
  }
}

.mascot {
  width: 95%;
  position: absolute;
  bottom: -40%;
  right: -40%;
}

@media screen and (min-width: 320px) {
  .mascot {
    margin: auto;
    width: 20%;
    bottom: 105%;
    right: 40%;
  }
}

@media screen and (min-width: 480px) {
  .mascot {
    margin: auto;
    width: 20%;
    bottom: 150%;
    right: 40%;
  }
}

@media screen and (min-width: 768px) {
  .mascot {
    width: 15%;
    bottom: 115%;
    right: 42%;
  }
}

@media screen and (min-width: 1024px) {
  .mascot {
    width: 500px;
    position: absolute;
    bottom: -40%;
    right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .mascot {
    width: 900px;
    position: absolute;
    bottom: -40%;
    right: -40%;
  }
}

.clouds {
  background-image: url("/img/clouds.svg");
  background-repeat: no-repeat;
  background-position: 20% center 20% center;
  background-size: 100%;
}

.npmSection {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) {
  .npmSection {
    display: flex;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .npmSection {
    background-position: 20% center 20% center;
    display: flex;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

.brickBackground {
  background-image: url("/img/brick-wall.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  margin: 0;
  padding: 150px 40px 120px 40px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.npmContainer {
  margin: 0 auto;
  font-family: "input-mono-narrow", monospace;
  font-size: 18px;
  width: 100%;
  max-width: 600px;
}

@media screen and (min-width: 1024px) {
  .npmContainer {
    margin: auto;
    position: relative;
    font-family: "input-mono-narrow", monospace;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
    bottom: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .npmContainer {
    margin: auto;
    position: relative;
    font-family: "input-mono-narrow", monospace;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
    bottom: 2em;
  }
}

/* /////////////////////////// Usage Section /////////////////////////// */

.usage {
  position: relative;
}

.meadowTop {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 0;
}

.meadowTop img {
  width: 100%;
  display: block;
}

.meadowBottom {
  background-image: url("/img/meadow-bottom.svg");
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%;
  background-origin: content-box;
  margin: 0;
}

/* .meadow {
  background-image: url("/img/meadow.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
} */

/* .meadow {
  background-image: url("/img/meadow-top.svg"), url("/img/meadow-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0em 0em, 0em 5em;
  background-size: 100% auto;
} */

h3 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 38px;
  line-height: 1em;
  color: white;
}

.usageLayout {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8em 0 8em 0;
  row-gap: 5em;
  min-width: 320px;
}

.copyBlockContainer {
  margin: auto;
  position: relative;
  max-width: 90%;
}

@media screen and (max-width: 320px) {
  .copyBlockContainer {
    margin: auto 1em;
    width: 90%;
  }
}

.stag {
  position: absolute;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform ease 0.5s;
}

.stag:hover {
  transform: rotate(-15deg);
}

@media screen and (min-width: 1025px) {
  .stag {
    width: 160px;
    right: -95px;
    top: 150px;
  }
}

@media screen and (max-width: 1024px) {
  .stag {
    width: 160px;
    right: -95px;
    top: 150px;
  }
}

@media screen and (max-width: 768px) {
  .stag {
    display: none;
  }
}

.copyBlock {
  margin: 1em 0 0 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .copyBlock {
    width: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .copyBlock {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .copyBlock {
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .copyBlock {
    width: 400px;
  }
}

@media screen and (max-width: 320px) {
  .copyBlock {
    width: 280px;
  }
}

/* @media screen and (max-width: 320px) {
  .copyBlock {
    margin: 1em auto;
    background: red;
    width: 280px;
  }
} */

@media screen and (max-width: 320px) {
  .copyBlockCode {
    width: 50%;
  }
}

/* /////////////////////////// Features Section /////////////////////////// */

.ocean {
  background-image: url("/img/ocean.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
}

.featuresLayout {
  margin: auto;
  padding: 10em 10em 8em 10em;
  row-gap: 2em;
  min-width: 320px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
}

.jelly {
  position: absolute;
  right: 18%;
  bottom: -390%;
  width: 150px;
}

.gridContainer {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featureCard {
  background-color: #3f9dd2;
  border-radius: 20px;
  padding: 40px 40px;
  width: 400px;
  justify-content: center;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.featureCard h4 {
  font-family: hobeaux, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin: 0;
}

.featureCard p {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  color: white;
  margin: 0;
}

/* 480px, 768px, 1024px, 1200px */

/* font-family: "input-mono-narrow", monospace;
font-size: 16px;
font-weight: 400; */
