/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://use.typekit.net/axn6ftm.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

main {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 21px;
  min-width: 320px;
  overflow: hidden;
}

[data-theme="dark"] main {
  background: #09262c;
}

/* /////////////////////////// Splash Section /////////////////////////// */

h1 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 1em;
}

[data-theme="dark"] h1 {
  color: #dbd7ca;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 45px;
  }
}

h3 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
}

.splashText h3 {
  padding-top: 1em;
}

p {
  font-size: 21px;
  line-height: 1.5em;
}

.coloredh1 {
  color: #ff450b;
}

[data-theme="dark"] .coloredh1 {
  color: #ea000d;
}

h6 {
  font-family: "input-mono-narrow", monospace;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.textColumn {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .textColumn {
    padding: 0 1em;
  }
}

.splashLayout {
  display: flex;
  position: relative;
  margin: auto 2em;
}

@media screen and (max-width: 768px) {
  .splashLayout {
    flex-direction: column;
    margin: auto 2em;
  }
}

@media screen and (max-width: 480px) {
  .splashLayout {
    margin: auto 1em;
  }
}

.splashText {
  width: 45%;
  padding: 7em 0 3em 0;
}

@media screen and (max-width: 1024px) {
  .splashText {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .splashText {
    width: 100%;
    padding-top: 8em;
    text-align: center;
  }

  @media screen and (max-width: 660px) {
    .splashText {
      width: 100%;
      padding-top: 8em;
      text-align: center;
    }
  }
}

/* [data-theme="dark"] .mascot {
  content: url("/img/peter-dragon-darkmode.svg");
  position: absolute;
  right: 0%;
  top: 35%;
  width: 50%;
} */

.mascot {
  position: absolute;
  right: 0%;
  top: 35%;
  width: 50%;
}

.mascotDarkMode {
  position: absolute;
  right: 0%;
  top: 35%;
  width: 50%;
  display: none;
}

[data-theme="dark"] .mascotDarkMode {
  display: block;
}

@media screen and (max-width: 1024px) {
  .mascot {
    max-width: 45%;
    right: 0%;
    top: 32%;
  }
}

@media screen and (max-width: 768px) {
  .mascot {
    max-width: 100px;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .mascotDarkMode {
    max-width: 100px;
    top: 8%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

[data-theme="dark"] .mascot {
  display: none;
}

.clouds {
  background-image: url("/img/clouds.svg");
  background-repeat: no-repeat;
  background-position: 20% center 20% center;
  background-size: 100%;
}

[data-theme="dark"] .cloudsDarkMode {
  background-image: url("/img/darkmode/clouds-dm.svg");
  background-repeat: no-repeat;
  background-position: 20% center 20% center;
  background-size: 100%;
  display: block;
}

/* /////////////////////////// npm Section /////////////////////////// */

.npm {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}

.brickBackground {
  background-image: url("/img/brick-wall.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  margin: 0;
  padding: 0 1em;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

[data-theme="dark"] .brickBackgroundDarkMode {
  background-image: url("/img/darkmode/brick-wall-dm.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  margin: 0;
  padding: 0 1em;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.npmSection {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-family: "input-mono-narrow", monospace;
  font-size: 18px;
  padding: 10em 0 0 0;
}

.npmSectionDarkMode {
  display: none;
}

[data-theme="dark"] .npmSection {
  display: none;
}

[data-theme="dark"] .npmSectionDarkMode {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-family: "input-mono-narrow", monospace;
  font-size: 18px;
  padding: 10em 0 0 0;
  display: block;
}

@media screen and (max-width: 1024px) {
  .npmSection {
    padding: 6em 0 8em 0;
  }
}

@media screen and (max-width: 1024px) {
  [data-theme="dark"] .npmSectionDarkMode {
    padding: 6em 0 8em 0;
  }
}

@media screen and (max-width: 768px) {
  .npmSection {
    padding: 3em 0 4em 0;
  }
}

@media screen and (max-width: 768px) {
  [data-theme="dark"] .npmSectionDarkMode {
    padding: 3em 0 4em 0;
  }
}

/* .npmCodeBlock {
  border-radius: 50px;
  background: "none";
} */

/* /////////////////////////// Demo Section /////////////////////////// */

.demo {
  margin: auto;
}

.demoLayout {
  position: relative;
}

.trialElements {
  width: 100%;
}

.fireball {
  position: absolute;
  left: -20%;
  top: -2%;
  width: 40%;
}

.fireballDarkMode {
  position: absolute;
  left: -20%;
  top: -2%;
  width: 40%;
  display: none;
}

[data-theme="dark"] .fireballDarkMode {
  display: block;
}

.sword {
  position: absolute;
  right: -30%;
  bottom: 10%;
  width: 43%;
  transform: rotate(0deg);
  transition: transform ease 0.1s;
}

.sword:hover {
  transform: rotate(5deg);
  bottom: 15%;
}

.swordDarkMode {
  position: absolute;
  right: -30%;
  bottom: 10%;
  width: 43%;
  transform: rotate(0deg);
  transition: transform ease 0.1s;
  display: none;
}

[data-theme="dark"] .sword {
  display: none;
}

[data-theme="dark"] .swordDarkMode {
  display: block;
}

[data-theme="dark"] .swordDarkMode:hover {
  transform: rotate(5deg);
  bottom: 15%;
}

.shield {
  position: absolute;
  left: -35%;
  top: 60%;
  width: 33%;
}

.shieldDarkMode {
  position: absolute;
  left: -35%;
  top: 60%;
  width: 33%;
  display: none;
}

[data-theme="dark"] .shieldDarkMode {
  display: block;
}

.demoArea {
  margin: 5em 0 10em 0;
  width: 650px;
}

@media screen and (max-width: 1024px) {
  .demoArea {
    margin: 0 0 10em 0;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .demoArea {
    margin: 0 0 10em 0;
    width: 100%;
  }
}

.demoHeading {
  margin: 10.6em 0 0 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .demoHeading {
    margin: 8.5em 0 0 0;
  }
}

@media screen and (max-width: 768px) {
  .demoHeading {
    padding-top: 7.5em;
    margin: auto;
  }
}

.demoArea h4 {
  text-align: center;
}

/* @media screen and (max-width: 600px) {
  .demoArea h4 {
    font-size: 1.4em;
  }
} */

.demoArea p {
  text-align: center;
  color: white;
  padding-top: 0.3em;
}

.demoWindow {
  top: 8%;
  display: block;
  min-width: 100%;
}

[data-theme="dark"] .demoWindowDarkMode {
  top: 8%;
  display: block;
  min-width: 100%;
}

.demoWindowDarkMode {
  display: none;
}

[data-theme="dark"] .demoWindow {
  display: none;
}

/* /////////////////////////// Usage Section /////////////////////////// */

.usage {
  position: relative;
}

.meadowTop {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 0;
}

.meadowTop img {
  width: 100%;
  display: block;
}

.meadowTopDarkMode {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 0;
  display: none;
}

[data-theme="dark"] .meadowTop {
  display: none;
}

[data-theme="dark"] .meadowTopDarkMode {
  display: block;
}

[data-theme="dark"] .meadowTopDarkMode img {
  width: 100%;
  display: block;
}

.meadowBottom {
  background-image: url("/img/meadow-bottom.svg");
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%;
  background-origin: content-box;
  margin: 0;
  display: block;
}

[data-theme="dark"] .meadowBottomDarkMode {
  background-image: url("/img/darkmode/meadow-bottom-dm.svg");
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%;
  background-origin: content-box;
  margin: 0;
  display: block;
}

h4 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1em;
  color: white;
}

.usageLayout {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 0 10em 0;
  row-gap: 5em;
  min-width: 320px;
  overflow: hidden;
}

.codeBlockContainer {
  margin: auto;
  width: 650px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .codeBlockContainer {
    margin: auto;
    width: 90%;
  }
}

.codeBlock {
  margin: 1em 0 0 0;
  padding: 0;
  border-radius: 20px;
  max-width: 650px;
  width: 100%;
}

.codeBlockDarkMode {
  display: none;
}

[data-theme="dark"] .codeBlock {
  display: none;
}

[data-theme="dark"] .codeBlockDarkMode {
  margin: 1em 0 0 0;
  padding: 0;
  border-radius: 20px;
  max-width: 650px;
  width: 100%;
  display: block;
}

.stag {
  position: absolute;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform ease 0.5s;
  width: 180px;
  top: 18%;
  right: -15%;
}

.stag:hover {
  transform: rotate(-20deg);
}

@media screen and (max-width: 768px) {
  .stag {
    display: none;
  }
}

[data-theme="dark"] .stag {
  display: none;
}

.stagDarkMode {
  position: absolute;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform ease 0.5s;
  width: 180px;
  top: 18%;
  right: -15%;
  display: none;
}

[data-theme="dark"] .stagDarkMode {
  display: block;
}

[data-theme="dark"] .stagDarkMode:hover {
  transform: rotate(-20deg);
}

@media screen and (max-width: 768px) {
  [data-theme="dark"] .stagDarkMode {
    display: none;
  }
}

/* /////////////////////////// Features Section /////////////////////////// */

.features {
  position: relative;
}

.oceanTop {
  position: absolute;
  bottom: calc(100% - 5px);
  left: 0;
  width: 100%;
}

.oceanTop img {
  width: 100%;
  display: block;
}

.oceanTopDarkMode {
  display: none;
}

[data-theme="dark"] .oceanTop {
  display: none;
}

[data-theme="dark"] .oceanTopDarkMode {
  position: absolute;
  bottom: calc(100% - 5px);
  left: 0;
  width: 100%;
  display: block;
}

[data-theme="dark"] .oceanTopDarkMode img {
  width: 100%;
  display: block;
}

.oceanBottom {
  background-image: url("/img/ocean-bottom.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
  display: block;
}

[data-theme="dark"] .oceanBottomDarkMode {
  background-image: url("/img/darkmode/ocean-bottom-dm.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
  display: block;
}

.featuresLayout {
  display: flex;
  overflow: hidden;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 3em auto;
  max-width: 700px;
  width: 100%;
  padding: 0 1em;
  position: relative;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  margin-bottom: 5em;
}

.jelly {
  position: absolute;
  right: -8%;
  top: 25%;
  width: 150px;
  transform: rotate(0deg);
  transition: transform ease 1s;
  transition: top ease 1.5s;
}

.jelly:hover {
  transform: rotate(10deg);
  top: 27%;
}

@media screen and (max-width: 768px) {
  .jelly {
    display: none;
  }
}

.jellyDarkMode {
  display: none;
}

[data-theme="dark"] .jelly {
  display: none;
}

[data-theme="dark"] .jellyDarkMode {
  position: absolute;
  right: -8%;
  top: 25%;
  width: 150px;
  transform: rotate(0deg);
  transition: transform ease 1s;
  transition: top ease 1.5s;
  display: block;
}

[data-theme="dark"] .jellyDarkMode:hover {
  transform: rotate(10deg);
  top: 27%;
  display: block;
}

@media screen and (max-width: 768px) {
  [data-theme="dark"] .jellyDarkMode {
    display: none;
  }
}

.featureCardBackground {
  display: flex;
  background-color: #3f9dd2;
  border-radius: 20px;
  padding: 40px 40px;
  width: calc(50% - 0.5em);
  height: 200px;
  align-items: center;
}

[data-theme="dark"] .featureCardBackground {
  background-color: #12353a;
}

@media screen and (max-width: 600px) {
  .featureCardBackground {
    width: 100%;
  }
}

.featureCardContent {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.featureCard:hover {
  background-color: #3697c1;
}

.featureCardContent h5 {
  font-family: hobeaux, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin: 0;
}

.featureCardContent p {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  color: white;
  margin: 0;
}

/* /////////////////////////// Learn More Section /////////////////////////// */

.learnMore {
  position: relative;
}

.brickTop {
  position: absolute;
  bottom: calc(100% - 10px);
  left: 0;
}

.brickTopDarkMode {
  display: none;
}

[data-theme="dark"] .brickTop {
  display: none;
}

[data-theme="dark"] .brickTopDarkMode {
  position: absolute;
  bottom: calc(100% - 10px);
  left: 0;
  display: block;
}

.brickTop img {
  display: block;
}

.brickTopDarkMode img {
  display: block;
}

.brickBottom {
  background-image: url("/img/brick-bottom.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
  display: block;
}

[data-theme="dark"] .brickBottomDarkMode {
  background-image: url("/img/darkmode/brick-bottom-dm.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
  display: block;
}

h2 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 1em;
  color: white;
}

.learnMoreLayout {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 4em 0;
  column-gap: 30px;
}

@media screen and (max-width: 1024px) {
  .learnMoreLayout {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    padding: 3em 5em;
  }
}

@media screen and (max-width: 768px) {
  .learnMoreLayout {
    padding: 3em 2em;
  }
}
@media screen and (max-width: 660px) {
  .learnMoreLayout {
    padding: 3em 1em;
  }
}

.learnMoreLayout p {
  color: white;
}

.wingedCreature {
  display: flex;
  justify-content: center;
}

[data-theme="dark"] .wingedCreature {
  display: none;
}

.wingedCreatureDarkMode {
  display: none;
}

[data-theme="dark"] .wingedCreatureDarkMode {
  justify-content: center;
  display: flex;
}

.wingedCreature img {
  width: 700px;
  z-index: 1;
}

.wingedCreatureDarkMode img {
  width: 700px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .wingedCreature {
    width: 280px;
  }
}

@media screen and (max-width: 1024px) {
  .wingedCreatureDarkMode {
    width: 280px;
  }
}

.learnMoreText {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* 480px, 600px, 768px, 1024px, 1200px */

.navbar-logo {
  width: 20%;
}
