/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://use.typekit.net/axn6ftm.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

main {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-size: 21px;
  min-width: 320px;
}

/* /////////////////////////// Splash Section /////////////////////////// */

.splash {
  height: 100%;
}

h1 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 65px;
  line-height: 1em;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 370px) {
  h1 {
    font-size: 45px;
  }
}

h3 {
  font-family: Rubik, sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 21px;
  line-height: 1.5em;
}

.splashText h3 {
  padding-top: 1em;
}

p {
  font-size: 21px;
  line-height: 1.5em;
}

.orangeh1 {
  color: #ff450b;
}

h6 {
  font-family: "input-mono-narrow", monospace;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.textColumn {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2em;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .textColumn {
    padding: 0 1em;
  }
}

.splashLayout {
  position: relative;
  display: flex;
}

@media screen and (max-width: 768px) {
  .splashLayout {
    flex-direction: column;
  }
}

.splashText {
  width: 45%;
  padding: 7em 0 3em 0;
}

@media screen and (max-width: 1024px) {
  .splashText {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .splashText {
    width: 100%;
    padding-top: 8em;
    text-align: center;
  }

  @media screen and (max-width: 660px) {
    .splashText {
      width: 100%;
      padding-top: 8em;
      text-align: center;
    }
  }
}

.mascot {
  width: 600px;
  position: absolute;
  margin: auto;
  left: 45%;
  top: 35%;
}

@media screen and (max-width: 1024px) {
  .mascot {
    width: 450px;
    left: 50%;
    bottom: -30%;
  }
}

@media screen and (max-width: 768px) {
  .mascot {
    width: 120px;
    top: 8%;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 480px) {
  .mascot {
    width: 100px;
    top: 8%;
    left: 0;
    right: 0;
    padding: 0;
  }
}

.clouds {
  background-image: url("/img/clouds.svg");
  background-repeat: no-repeat;
  background-position: 20% center 20% center;
  background-size: 100%;
}

/* /////////////////////////// npm Section /////////////////////////// */

.npm {
  display: flex;
  margin: auto;
  width: 100%;
  height: 100%;
}

.brickBackground {
  background-image: url("/img/brick-wall.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  margin: 0;
  padding: 0 1em;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container {
  margin: auto;
}

/* @media screen and (max-width: 600px) {
  .container {
    max-width: 500px;
  }
} */

.npmSection {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  font-family: "input-mono-narrow", monospace;
  font-size: 18px;
  padding: 10em 0 0em 0;
}

@media screen and (max-width: 1024px) {
  .npmSection {
    padding: 5em 0 8em 0;
  }
}

@media screen and (max-width: 768px) {
  .npmSection {
    padding: 3em 0 4em 0;
  }
}

.npmCodeBlock {
  border-radius: 50px;
}

/* /////////////////////////// Demo Section /////////////////////////// */

.demo {
  margin: auto;
}
.demoLayout {
  position: relative;
}

.fireball {
  position: absolute;
  left: -15%;
  top: 0%;
  width: 36%;
}

.sword {
  position: absolute;
  left: 85%;
  bottom: 10%;
  width: 40%;
  overflow-x: hidden;
}

.shield {
  position: absolute;
  left: -35%;
  top: 60%;
  width: 30%;
}

.demoArea {
  margin: 10em 0 10em 0;
  width: 100%;
}

.demoHeading {
  margin: 11em 0 0 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
}

@media screen and (max-width: 600px) {
  .demoHeading {
    margin: 7.5em 0 0 0;
  }
}

.demoArea h4 {
  text-align: center;
}

/* @media screen and (max-width: 600px) {
  .demoArea h4 {
    font-size: 1.4em;
  }
} */

.demoArea p {
  text-align: center;
  color: white;
  padding-top: 0.3em;
}

.demoWindow {
  top: 8%;
}

/* /////////////////////////// Usage Section /////////////////////////// */

.usage {
  position: relative;
}

.meadowTop {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 0;
}

.meadowTop img {
  width: 100%;
  display: block;
}

.meadowBottom {
  background-image: url("/img/meadow-bottom.svg");
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100%;
  background-origin: content-box;
  margin: 0;
}

h4 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1em;
  color: white;
}

.usageLayout {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 0 10em 0;
  row-gap: 5em;
  min-width: 320px;
}

.codeBlockContainer {
  margin: auto;
  width: 650px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .codeBlockContainer {
    margin: auto;
    width: 90%;
  }
}

.codeBlock {
  margin: 1em 0 0 0;
  padding: 0;
  border-radius: 20px;
  max-width: 650px;
  width: 100%;
}

.stag {
  position: absolute;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform ease 0.5s;
  width: 180px;
  top: 18%;
  right: -15%;
}

@media screen and (max-width: 768px) {
  .stag {
    display: none;
  }
}

.stag:hover {
  transform: rotate(-20deg);
}

/* /////////////////////////// Features Section /////////////////////////// */

.features {
  position: relative;
}

.oceanTop {
  position: absolute;
  bottom: calc(100% - 3px);
  left: 0;
  width: 100%;
}

.oceanTop img {
  width: 100%;
  display: block;
}

.oceanBottom {
  background-image: url("/img/ocean-bottom.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
}

.featuresLayout {
  display: flex;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 3em auto;
  max-width: 700px;
  width: 100%;
  padding: 0 1em;
  position: relative;
}

.gridContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  column-gap: 1em;
  margin-bottom: 5em;
}

.jelly {
  position: absolute;
  right: -8%;
  top: 25%;
  width: 150px;
  transform: rotate(0deg);
  transition: transform ease 1s;
  transition: top ease 1.5s;
}

.jelly:hover {
  transform: rotate(10deg);
  top: 27%;
}

@media screen and (max-width: 768px) {
  .jelly {
    display: none;
  }
}

.featureCardBackground {
  display: flex;
  background-color: #3f9dd2;
  border-radius: 20px;
  padding: 40px 40px;
  width: calc(50% - 0.5em);
  height: 200px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .featureCardBackground {
    width: 100%;
  }
}

.featureCardContent {
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}

.featureCard:hover {
  background-color: #3697c1;
}

.featureCardContent h5 {
  font-family: hobeaux, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: white;
  margin: 0;
}

.featureCardContent p {
  font-family: Rubik, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3em;
  color: white;
  margin: 0;
}

/* /////////////////////////// Learn More Section /////////////////////////// */

.learnMore {
  position: relative;
}

.brickTop {
  position: absolute;
  bottom: calc(100% - 10px);
  left: 0;
}

.brickTop img {
  display: block;
}

.brickBottom {
  background-image: url("/img/brick-bottom.svg");
  background-repeat: repeat-y;
  background-position: 0 5em;
  background-size: 100% auto;
}

h2 {
  font-family: hobeaux, sans-serif;
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 1em;
  color: white;
}

.learnMoreLayout {
  display: flex;
  max-width: 900px;
  width: 100%;
  margin: auto;
  padding: 4em 1em;
  column-gap: 50px;
}

@media screen and (max-width: 800px) {
  .learnMoreLayout {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    padding: 3em 1em;
  }
}

.learnMoreLayout p {
  color: white;
}

.wingedCreature {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .wingedCreature {
    width: 280px;
  }
}

.wingedCreature img {
  width: 700px;
  z-index: 1;
}

.learnMoreText {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

/* 480px, 600px, 768px, 1024px, 1200px */

/* .wingedCreature {
  display: flex;
  position: absolute;
  justify-content: center;
  transition: top ease 5s;
  right: 10em;
}

.wingedCreature:hover {
  top: 20%;
}

.wingedCreature img {
  width: 300px;
  z-index: 1;
}

.learnMoreText {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  position: relative;
} */
